/*main section style */
.offer{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 200;
line-height: normal;
width: 50%;
        height: 120vh;
        position: center;
        background-image: url(../image/New\ Year\ Photo.png);
        background-repeat: no-repeat;
        background-size: 90%;
        background-blend-mode: darken;
        background-position: center;
        transform: translate(45%, -15%);
        top: -500%;
        right: 100%;
        bottom: 50%;
        
        
}
/*main section style */
.Welcome{
    color: white;
text-align: left;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 100;
line-height: normal;
width: 75%;

height: 60vh;
        position: center;
background-image: url(../image/Vectorrr.png);
background-repeat: no-repeat;
background-size: 100%;
        background-blend-mode: darken;
        background-position: center;
        transform: translate(20%, -60%);
        top: -500%;
        right: 100%;
        bottom: -50%;
       
       
}
/*main Section Style */
.anotherimage{
    background-image: url(../image/Group\ 70.png);
    background-repeat: no-repeat;
    text-align: right;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    width: 75%;
    height: 950vh;
    transform: translate(90%, -16%);
}
.about{
    padding: 130px;
    
}
.details{
    background-color: antiquewhite;
    background-position: center;
    background-size: 500%;
    transform: translate(-1%, -60%);
    width: 40%;
    height: 40vh;
        top: 80%;
        right: 100%;
        bottom: -50%;
    color: red;
text-align: center;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 100%;



}